{%  include   'base.html' %}
<link rel="stylesheet" href="static/css/consulting_landing.css">
<div class="row">
    <div class="example-3 card">
        <div class="wrapper">
          <div class="header">
          </div>
          <div class="data">
            <div class="content">
              <h1 class="title"><a href="#">Unlock a world of expert medical guidance with just a click - consult with us today!</a></h1>
              <p class="text">"Get a live expert medical consultation by consulting with our team of professionals."</p>
              <a href="#" class="button">Chat Now</a>
            </div>
          </div>
        </div>
      </div>

    <div class="example-2 card">
      <div class="wrapper">
        <div class="header">
        </div>
        <div class="data">
          <div class="content">
            <h1 class="title"><a href="#">Get instant solutions to your queries with our smart chatbot - your 24/7 virtual assistant!</a></h1>
            <p class="text">"Get quick and accurate responses to your questions through our AI-powered chatbot - the ultimate digital assistant for all your needs."
            </p>
            <a href="chatbot" class="button">Chat Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%  include   'footer.html' %}