{%  include   'second_main.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hover Card</title>
    <link rel="stylesheet" href="static/css/doctors_dahboard.css" />
    <link rel="stylesheet" href="static/css/second_page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="static/video/Background_video1.mp4" type="video/mp4">

        </video>
        <div class="content">
            <h1>HEALTHX</h1>
            <a href="#">Explore</a>
        </div>
    </div>

    
    <div class="center">
      <figure class="card card-with-hover">
        <img
          src="static/img/calendar.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>View Your Hospitals Appointments</h2>
            <div class="card-text-wrapper">
              <p><a href="{% url 'view_appoitments' %}">Click Here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/doctors.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Add doctors</h2>
            <div class="card-text-wrapper">
              <p><a>Click Here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/timer.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Medical Remainder</h2>
            <div class="card-text-wrapper">
              <p><a href="{%url 'medicine_remainder' %}">Click here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/chatbot.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Medical Chatbot</h2>
            <div class="card-text-wrapper">
              <p><a href="{%url 'chatbot' %}">Click Here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/Med1.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Medical Hub</h2>
            <div class="card-text-wrapper">
              <p><a href="https://my-medical-store.netlify.app/"> Click Here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/chat4.jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Real Time Data Updation</h2>
            <div class="card-text-wrapper">
              <p><a>Click Here</a></p>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </body>
</html>
{%  include   'footer.html' %}