<link rel="stylesheet" href="static/css/hover_cards.css">
<body>
    <div class="container">
        <div class="cards">
           
            <div class="card">
                <div class="colour"></div>
                <div class="card-text">
                    <h3>Book Your Slot Now</h3>
                    <p>"Empowering health, one expert at a time
                    <b>"Book your appointment anytime, anywhere - 24/7 with HEALTHX"</b></p>
                    <a href="{% url 'appointment' %}">Book here</a></p>
                </div>
                <div class="colour-bottom"></div>
            </div>
            <div class="card Nezuko">
                <div class="colour"></div>
                <div class="card-text">
                    <h3>HEALTHX petcare</h3>
                    <p>Healthy pets, happy hearts - Trust <b>HEALTHXpetcare for all your furry friend's needs</b>
                    <a href="https://www.completepetcareanimalhospital.com/forms/appointments/">Explore Now</a></p>
                </div>
                <div class="colour-bottom"></div>
            </div>
            
            <div class="card zenitsu">
                <div class="colour"></div>
                <div class="card-text">
                    <h3>Geoloactor</h3>
                    <p>Find the care you need, exactly where you need it -<b> with HEALTHX geolocator</b></p>
                    <a href="{% url 'maps' %}">See Maps</a>
                </div>
                <div class="colour-bottom"></div>
            </div>


            <div class="card Giyu_Tomioka">
                <div class="colour"></div>
                <div class="card-text">
                    <h3>Online Consulting</h3>
                    <p>You can take<b>Online Consulting from our expert's.</b>
                    <a href="{% url 'consulting_landing' %}">Consult here</a></p>
                </div>
                <div class="colour-bottom"></div>
            </div>


            <div class="card Inosuke">
                <div class="colour"></div>
                <div class="card-text">
                    <h3>HEALTHX medicalhub</h3>
                    <p>You can <b>Order Your Medicines at your home</b>
                        <br>
                        <a href=""{% url 'launch_project2' %}"">Order here.<a></p>
                </div>
                <div class="colour-bottom"></div>
            </div>



           
            
        </div>
      
    </div>
  <footer>
    <p>Made by <a href="https://www.linkedin.com/in/sanidhy-saxena-b0925a1b0/" target="_blank" rel="noopener noreferrer">Sanidhy Saxena</a>.
        <p>
</footer>
</body>