{%  include   'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>NEWW</title>
  </head>
  <body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="{% static 'img/HEALTHX_LOGO.png' %}" style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Please Login into HEALTHX Portal</h4>
                      </div>
      
                      <form method="post">
                        <p>Please login to your account</p>
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                          <input type="text" id="form2Example11" class="form-control"
                            placeholder="Username or email address" id="Username" name="Username" />
                          {% comment %} <label class="form-label" for="form2Example11">Username</label> {% endcomment %}
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control" placeholder="Password" id="password" name="pass"/>
                          {% comment %} <label class="form-label" for="form2Example22">Password</label> {% endcomment %}
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                            in</button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?&nbsp;&nbsp;&nbsp;
                          <button type="button" class="btn btn-outline-danger">
                            <a href="{% url 'signup' %}"> SignUp</a>
                          </button>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    
                    <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">We are more than just a company</h4>
                      <p class="small mb-0">YOUR'S full fledge healthcare solutions</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {%  include   'footer.html' %}
  