{%  include   'second_main.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Website with background Video</title>
        <link rel="stylesheet" href="static/css/second_page.css">
    </head>
<body>
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="static/video/Background_video1.mp4" type="video/mp4">

        </video>
        <div class="content">
            <h1>HEALTHX</h1>
            <a href="#">Explore</a>
        </div>
    </div>
    
</body>
</html>

{%  include   'hover_cards.html' %}
{%  include   'footer.html' %}