{%  include   'second_main.html' %}
<br>
<br>
<link rel="stylesheet" href="static/css/Thank_you.css">
<body id="form-submit-bg" class="cta">
    <br>
    <br>
    <div class="card-form-submit">
      <div class="hero-form-submit">
        <img src="https://s3-ap-southeast-1.amazonaws.com/supahands-media/hero-form-submitted.png" alt="404character" border="0">
      </div>
      <h1>Thank You!</h1>
      <p>Thanks a bunch for filling that out and welcome to the HEALTHX family! <br><br> Due to the overwhelming responses, please allow 1-2 working days for us to validate your data before sending your Confirmation of Appointment to you via email.</p>   
    </div>
  </body>
  